@import url("sections/font.css");
@import url("sections/home.css");

@import url("https://fonts.cdnfonts.com/css/druk-wide-bold");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/carriegraph-v5");

:root {
  --drunk-windy: "Druk Wide Bold", sans-serif;
  --montserrat: "Montserrat, sans-serif", sans-serif;
  --nunito: "Nunito", sans-serif;
  --carriegraph: "Carriegraph V5", sans-serif;

  --primary-color: #6c110f;
  --secondary-color: #ffffff;
  --text-color-black: #000000;

  --fading-ruby: #520c09;
  --nav__filter: #313131;
  --nav__cat: #4f4f4f;
  --hr: #afafaf;
  --color-creamson: #fff0de;

  --grey-50: #f1f1f1;
  --grey-200: #d3d3d3;
  --grey-400: #afafaf;
  --grey-600: #7c7c7c;
  --grey-800: #343434;
  --grey-850: #313131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  /* background-color: #6c110f; */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

.bg-primary {
  background-color: var(--grey-600);
}

.bg-grey {
  background-color: var(--grey-bg-600);
}
